
mat-card {
  width: 400px;
  margin: 200px auto;
  padding: 40px ;
  border-radius: 10px;

  mat-card-header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        width: 100%;
        .col-form {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                label {
                    margin-bottom: 0.5rem;
                }
                input {
                    padding: 15px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
            }
            .login-btn {
                display: flex;
                justify-content: center;
                button {
                    margin: 15px;
                    background-color: rgb(40, 150, 12);
                    color: #fff;
                    font-weight: bold;
                    
                }
            }
            .center{
                display: flex;
                justify-content: center;
            }
        }
    }
  }

}
